* {
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    margin: 25px;
    margin-top: 0px;
}

.event-row {
    width: 2000px;
    border-right: darkblue solid;
    
}




.time {
    border-right: black solid;
    width: 5px;     
}

button {
    background-color: cornflowerblue;
    color: white;
    float: right;
    border: cornflowerblue solid 20px;;
    width: max-content;
    height: 75px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

button:hover {
    border: salmon solid 20px;
    background-color: salmon;
    width: max-content;
    height: 75px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
    
.navbar-header {
    color: royalblue;
    background-color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 70px;
    padding: 50px;
    margin: 0px;
    
}

.justify-content-center {
    border-bottom: solid #444444 10px;
    background-color: white;
    
}

.p {
    font-size: 25px;
    font-weight: bolder;
}

input {
    display: block; 
    padding: 0; 
    margin: 0; 
    border: 0; 
    width: 100%;
    height: 75px;
}

td {
    margin: 0; 
    padding: 0;
}